.service {
  padding-top: 80px;
  padding-bottom: 60px;
  @include media-breakpoint-down(lg) {
    padding-top: 20px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }
  .service-left {
    position: relative;
    .service-img {
      @include media-breakpoint-down(lg) {
        margin: 0 80px;
      }
      img {
        width: 450px;
        height: 520px;
        border-top-right-radius: 250px;
        border-top-left-radius: 250px;
        @include media-breakpoint-down(xl) {
          width: 420px;
          height: 450px;
          text-align: center !important;
          margin: 0 15px !important;
        }
        @include media-breakpoint-down(md) {
          width: 380px;
          height: 450px;
          text-align: center !important;
          margin: 0 15px !important;
        }
        @include media-breakpoint-down(sm) {
          width: 300px;
          height: 320px;
          text-align: center !important;
          margin: 0 15px !important;
        }
      }
    }
    .service-content {
      position: absolute;
      bottom: -40px;
      right: 120px;
      width: 160px;
      height: 160px;
      background-color: $main-color;
      border-top-right-radius: 80px;
      border: 10px solid $button-color;
      @include media-breakpoint-down(xxl) {
        right: 10px;
      }
      @include media-breakpoint-down(xl) {
        right: -20px;
      }
      @include media-breakpoint-down(lg) {
        right: 50px;
      }
      @include media-breakpoint-down(md) {
        right: 44px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .service-text {
        text-align: center;
        margin: 20px 0;

        h4 {
          font-weight: 700;
          font-size: 42px;
          color: $button-color;
        }
        h6 {
          font-weight: 700;
          font-size: 20px;
          color: $button-color;
        }
      }
    }
  }
  .service-right {
    .service-right-info {
      h2 {
        font-weight: 700;
        font-size: 40px;
        color: $black-color;
        padding-bottom: 15px;
        line-height: 45px;
        @include media-breakpoint-down(lg) {
          font-size: 40px;
          line-height: 45px;
          padding-top: 50px;
        }
        @include media-breakpoint-down(md) {
          font-size: 38px;
          line-height: 45px;
          padding-top: 50px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 25px;
          line-height: 40px;
          padding-top: 30px;
        }
        span {
          color: $main-color;
        }
      }
      p {
        font-weight: 400;
        font-size: 18px;
        color: $natto-link-color;
        line-height: 30px;
        padding-right: 60px;
        @include media-breakpoint-down(lg) {
          font-size: 18px;
          line-height: 25px;
          padding-right: 0px;
          padding-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 25px;
          padding-right: 0px;
          padding-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 25px;
          padding-right: 0px;
          padding-bottom: 20px;
        }
      }
    }
    .portfolio-info {
      display: flex;

      svg {
        fill: $natto-link-color;
        margin-right: 10px;
        font-size: 20px;
        @include media-breakpoint-down(md) {
          font-size: 18px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
      p {
        padding-top: 8px;
        font-weight: 400;
        font-size: 18px;
        color: $natto-link-color;
        @include media-breakpoint-down(md) {
          font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
    .portfolio-btn {
      padding-top: 20px;
      button {
        padding: 15px 30px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background-color: transparent;
        color: $main-color;
        font-size: 20px;
        font-weight: 700;
        border: 1px solid $main-color;
        @include media-breakpoint-down(lg) {
          padding: 15px 25px;
          font-size: 18px;
        }
        @include media-breakpoint-down(md) {
          padding: 12px 25px;
          font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
          padding: 10px 15px;
          font-size: 14px;
        }
      }
    }
    .portfolio-counter {
      .number {
        .counter {
          font-size: 48px;
          @include media-breakpoint-down(sm) {
            font-size: 30px;
          }
          font-weight: 400;
          font-style: italic;
          color: $black-color;
        }
        span {
          font-size: 18px;
          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
          font-weight: 400;
          color: $natto-link-color;
        }
      }
    }
  }
}
